.flexBoxContainer {
    display: flex;
    overflow-x: auto;
    background-color: rgb(34,34,34);
    padding-top: 20px;
    font-size: 20px;
}

.tickerFont{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.25
}
.flexbox-item{
    width: 250px;
    margin: 0px;
    color: white;
    /* border: 3px solid #333;
    background-color: #dfdfdf; */
}

.flexbox-item1 {
    min-height: 80px;
    min-width: 100px;
    /* border-right: grey 2px solid; */
}

.flexbox-item2 {
    min-height: 60px;
    min-width: 250px;
    width: 200px;
    
    /* border-right: grey 2px solid; */
}

.divider {
    width: 2px;
    background: grey;
    margin: 5px;
    height: 50px;
}

.flexbox-item2 > .divider {
    min-width: 2;
}



.flexbox-item3 {
    min-height: 80px;
    min-width: 200px;
    /* border-right: grey 2px solid; */
}

.tickerBox{
    border-right: grey 2px solid;
    display: "flex";
    flex-wrap: "wrap";
    flex-direction: column;
}

.spaceBar{
    height: 30px;
    width: 100%;
    background-color: rgb(51,51,51);
}

.searchBar{
    height: 60px;
    width: 100%;
    background-color: rgb(47,46,46);
}





