@import "https://code.highcharts.com/css/stocktools/gui.css";
@import "https://code.highcharts.com/css/annotations/popup.css";

.searchTool{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.header {
    /* padding-top: 50px; */
    color: white;
    background-image: url('../pictures/wave.gif');
    /* padding-bottom: 30px; */
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    z-index: 0;
    margin-bottom: 20px;
    padding:40px
    /* position: absolute; */
}

.headerbackDrop {
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 7%;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
}

.headerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* .item {
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; 
  } */

  .sparkStyle svg {
    height: 50px;
    }