@import "https://code.highcharts.com/css/stocktools/gui.css";
@import "https://code.highcharts.com/css/annotations/popup.css";

.searchTool{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.header {
    padding-top: 40px;
    color: white;
    background-image: url('../pictures/stockExchangeBoard.jpg');
    padding-bottom: 20px;
    z-index: 0;
    margin-bottom: 20px;
    /* position: absolute; */
}