.expand-trigger {
    width: 0px;
    height: 0px;
}
.MuiToolbar-gutters.makeStyles-root-5.MuiToolbar-regular.MuiToolbar-root {
    background-color: #022B3C;
    color: white;
}
.MuiToolbar-root{
    background-color:#022B3C;
    color: white;
}

.MuiToolbar-gutters.MuiTablePagination-toolbar.MuiToolbar-regular.MuiToolbar-root {
    /* z-index: -2222 */   
}

.mui-5957 {
    z-index: 1000;
}


.tableFormControl{
    color: white
}

.loadingTable {
    display: flex;
    justify-content: center;
}

.MuiTableBody-root > .MuiTableRow-root:nth-child(2n) {
    background: lightblue;
}

.MuiTablePagination-root {
border: 1px solid #022B3C;
background-color: #022B3C;
color: white;
}

/* height: calc(100% - 100px);  
                         */
/* .searchHeader.h1 {
    color: white;
} */

/* .searchTool{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
} */
